.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 331px;
    overflow-y: scroll;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions  {
  text-align: right;
  color: aliceblue;
  padding: 0.5rem;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #050342;
  color: white;
  padding: 1rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #070854;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: white;
}

.actions .button {
  background-color: transparent;
  color: white;
}


.actions-btn h5{
  /* position: absolute;
  top: 10rem;
  left: 8rem; */
  font-size: 5rem;
  color: rgb(225, 174, 22);
}

h5{
  text-align: center;
  font-size: 2rem;
  color: rgb(225, 174, 22);
}
h6{
  text-align: center;
  font-size: 2rem;
  color: rgb(27, 189, 181);
  
}
p{
  color:aliceblue;
}
.optionitem{
  justify-content: space-between;
}

.param p{
  text-align: center;
  color: rgb(164, 145, 20);
  font-size: 1.5rem;
}
.checkbox{
  display: flex;
  position: absolute;
  left: 3rem;
  /* margin: 1rem; */
  
}
.checkboxred{
  /* background-color: red; */
  color: red;
  margin: 1rem;
}
.checkboxgreen{
  /* background-color: green; */
  color: green;
  margin: 1rem;
}
input[type='checkbox'] {
  accent-color: blue;
}
input[type='checkbox'] {
  accent-color: blue;
}
.param{
  text-align: center;
}
.head{
  text-align: center!important;
}