.cart-item {

    display: flex;
  
    justify-content: space-between;
  
    align-items: center;
  
    border-bottom: 2px solid #8a2b06;
  
    padding: 1rem 0;
  
    margin: 1rem 0;
    
  
  }
  
  
  
  .cart-item h2 {
  
    margin: 0 0 0.5rem 0;
  
    color: #363636;
  
  }
  
  
  
  .summary {
  
    width: 10rem;
  
    display: flex;
  
    justify-content: space-between;
  
    align-items: center;
  
  }
  
  
  
  .price {
  
    font-weight: bold;
  
    color: #8a2b06;
  
  }
  
  
  
  .amount {
  
    font-weight: bold;
  
    border: 1px solid #ccc;
  
    padding: 0.25rem 0.75rem;
  
    border-radius: 6px;
  
    color: #363636;
  
  }

 
.actions {
 display: flex;
 flex-direction: column;
}

@media (min-width: 768px) {
 .actions {
  flex-direction: row;
 }
}

.cart-item button {
 font: inherit;
 font-weight: bold;
 font-size: 1.25rem;
 color: #8a2b06;
 border: 1px solid #8a2b06;
 width: 3rem;
 text-align: center;
 border-radius: 6px;
 background-color: transparent;
 cursor: pointer;
 margin-left: 1rem;
 margin: 0.25rem;
}

.cart-item button:hover,
.cart-item button:active {
 background-color: #8a2b06;
 color: white;
}


.green{
  background-color: rgb(32, 93, 32)!important;
  color:white;
}
.red{
  background-color: rgb(196, 81, 81)!important;
  color: white;
}

.divs{
  padding:0.6rem 2rem;
  position: relative;
  width: 100%;
  display: block;
}
.divs h4{
  color: aqua;
}
.delete{
  position: absolute;
  top: 2rem;
    right: 10px;
  
}
img{
  height: 2rem;
  width: 1.5rem;
  border-radius: 0.2rem;
}
.optionwrap{
  display: block;
}

.list{
  background-color: rgb(4, 39, 70);
  /* border-radius: 1rem; */
  height: 3rem;
  width: 100%;
  padding: 1rem;
}