
.heading{
    color: aliceblue;
    font-size: 30px;
}
.para{
    color: red;
}

.form{
    padding: 20%;
    margin: 10px 20px;
    position: absolute;
    left: 20%;
}
h3{
  font-size: 2rem;
}


.input {
  width: 50%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 1rem 1rem ;
  border-radius: 2rem;
  background-color: rgb(13, 9, 119);
  color: aliceblue;

}

.input label {
 display: block;
 font-weight: bold;
 margin-bottom: 0.5rem;
 font-style: normal;
}

.buttons  {
  justify-content: space-between;
 margin: 2rem 5rem;
}
.input input {
 font: inherit;
 display: block;
 width: 100%;
 border: 1px solid #ccc;
 padding: 1rem;
 margin-bottom: 0.5rem;
 border-radius: 5px;
}

.input input:focus {
 outline: none;
 border-color: #4f005f;
}


.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font: normal 11px/22px Arial, Sans-Serif;
    color: black;
    border: 1px solid #ccc;
  }
  
  .styledSelect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
  }
  
  .styledSelect:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 9px;
    right: 6px;
  }
  
  .styledSelect:active,
  .styledSelect.active {
    background-color: #eee;
  }
  
  .options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    border: 1px solid #ccc;
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .options li {
    padding: 0 6px;
    margin: 0 0;
    padding: 0 10px;
  }
  
  .options li:hover {
    background-color: #39f;
    color: white;
  }