.users{
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
}

.users ul{
    list-style: none;
    padding: 1rem;
}

.users li{
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
    color: white;
}
h4{
    color: #fff;
}

table{
    border:1px solid #fff;
    position: absolute;
    left: 15%;
   
}
tr{
color: #fff;
padding: 5rem 7rem;

}
th{
    padding: 1rem 3rem;
    background: rgb(149, 13, 74);
}
td{
    padding: 1rem 4rem;
    background: rgb(7, 56, 112);
}

h2{
    color: aqua;
    padding: 4rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    left: 32%;

}