
.new-question {
    /* background-color: #0c0c0e; */
    background-image: url(C:\Users\abhilasha.br\ReactProject\loginapp\src\assets\image4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 1rem;
    margin: 2rem auto;
    width: 82rem;
    /* max-width: 80%; */
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    border:1px solid red;
    /* background-color: #110f18;
    position: fixed;
    width: 100%;
    left: 0;
    height: 100vh;
    top: 0; */
   }
   .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
   }
   .heading{
    color: wheat;
   }
   .new-expense button:hover,
   .new-expense button:active {
    background-color: #510674;
    border-color: #510674;
   }
   .new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
   }
   .new-expense button.alternative:hover,
   .new-expense button.alternative:active {
    background-color: #27073b;
   }
   
  