
/* .question-filter-container{
    display: block;
    border: 1px solid red;
    border-radius: 5px;
    width:50%;
    height: 10%;
    position: relative;
    left: 2%;
    margin: 20px;


} */


.questions-filter {

    color: white;

    padding: 0 1rem;

    /* background-color: black; */
}


.questions-filter__control {

    display: flex;

    width: 50%;

    align-items: center;

    justify-content: space-between;

    margin: 1rem 0;                                                                         

}

.questions-filter label {

    font-weight: bold;

    margin-bottom: 0.5rem;

}



.questions-filter select {

    font: inherit;

    padding: 0.5rem 3rem;

    font-weight: bold;

    border-radius: 6px;

}

.quetiontotallength{
    position: relative;
    top: 5rem;
    left: 30rem;
    color: brown;
    font-size: 1.7rem;
    font-weight: bold;
}
span{
    font-size: 1.5rem;
    font-weight: bold;
    color: aliceblue;
}
.starttimer{
    position: relative;
    display:flex;
    left: 63rem;
    top: 5rem;
}