.new-question_controls{
    /* display: grid; */
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 1rem;
    text-align: left;
    color: aliceblue;
    padding: 30px;
  }
  
  .new-question__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 20px;
    
  }
  
  label{
    font-size: 20px;
    font-weight: bold;
  }
  .new-question__control input {
    font: inherit;
    padding:10px;
    border-radius: 6px;
    border: 1px solid rgb(154, 11, 11);
    width: 90%;
    margin: 10px;
    max-width: 100%;
    display: grid;
  }
  .new-option__control input {
    font: inherit;
    padding:10px;
    border-radius: 6px;
    border: 1px solid rgb(154, 11, 11);
    width: 90%;
    margin: 10px;
    max-width: 100%;
    display: grid;
  }
  
  .new-question__actions label{
    text-align: center;
    font-size: 20px;
    font-weight: bold;

  }

  lable{
    font-size: 20px;
    font-weight: bold;

  }

  .new-question__control_input{
    display: grid;
    width: 30px;
  }
  .select{
    width: 20px;
    font-size: 20px;
  }

  /*  */

  .dropbtn {
    background-color: #941111;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 250%;
    margin-top: 20px;
   
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 5%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    cursor: pointer;
  }
  
  /* Links inside the dropdown */
  .dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content option:hover {background-color: #060681;
color: #fff;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #120670;
  }

  .new-questions__actions{
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  select{
    background-color: rgb(131, 4, 97);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /* margin-left: 2px; */
    width: 46rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  option{
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    margin: 20px;
  }

  .add_cancel_actions{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .add_cancel_actions button{
    background-color: rgb(17, 42, 144);
  }
  .add_cancel_actions:hover button{
    background-color: aquamarine;
  }
  .select option{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-inline: 10px;
  }

  select option[data-default] {
    color: rgb(11, 86, 155);
    padding: 1rem;

  }

  .form-control.invalid{
    color: red!important;
  
  }
  .form-control.invalid input{
    border-color: red!important;
    background: #fad0ec;
  }

  .form-control.noinvaild {
    color: black;
  }

  .form-control.noinvaild input{
    background-color: white;
  }