


.App {
    /* text-align: center; */
    margin-bottom:20px ;
  }
  
  /* .question-card{
    background-color: rgb(15, 15, 18);
    padding: 5rem;
    color: white;
    margin: 5rem;
    box-shadow: rgb(50, 50, 93,0.25) 0px 30px 60px -12px, 
    rgb(0, 0, 0,3) 0px 18px 36px -18px;
    width: 50%;
    height: auto;
    border-radius: 10px;
   width: 50%; 
  }*/
   

  
  ul{
    list-style-type: none;
  }
  
  li{
    background-color: rgb(3, 41, 72);
    padding: 16px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 8px;
    cursor: pointer;
    font-style: italic;
    /* width: 50%; */
  }
  
  .question-text{
    color: rgb(191, 191, 198);
    font-size: 24px;
    display: flex;
  }
  
  .final-results{
    background-color: rgb(15, 36, 105);
    padding: 16px;
    color: white;
    margin: 0 auto;
    box-shadow: rgb(50, 50, 93,0.25) 0px 30px 60px -12px, 
    rgb(0, 0, 0,3) 0px 18px 36px -18px;
    width: 50%;
    height: auto;
  }
  
  button{
    background-color: red;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 30px;
    color: white;
    border-radius: 24px;
    /* width: 200%; */
  }
  button :hover{
    background-color: aquamarine;
  }



  .timer_totalquestion{
    display: flex;
    position: relative;
    justify-content: space-between;

  }

  /* .currect-answer{
    display: flex;
    position: relative;
    justify-content: space-between;
  } */

  .question-attempted{
    position: absolute;
    left:75%;
  }

  span{
    padding: 10px 20px;
    width: 40px;
    color: black
    
  }
  .card{
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    padding:24px;
    margin: 1rem 0;
    background-color: #0d4770;
  }

  input{
    width: 10px 20px;
    padding: 10px 15px;
  }
  
  .show-Button{
    display: flex;
    position: relative;
    left: 2rem;
    justify-content: space-around;
  }

  .blue{
    background-color: rgb(9, 72, 120);
  }
  .green{
    background: green;
  }