.timer{
    color: rgb(33, 5, 5);
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 0.05rem;
    text-align: center;
}
label{
   color:  #fff
}


header .timer{
    color: #fff;
    /* background: rgb(34, 113, 150); */
    /* border: 1px solid #b8daff; */
    height: 45px;
    padding: 0 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
    color: #fff;
}

 header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    /* background: #343a40; */
    border: 1px solid #343a40;
    user-select: none;
}