@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" );

.result-box{
    /* background-color: #110f18; */
    /* background-image: url(C:\Users\abhilasha.br\ReactProject\loginapp\src\assets\image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    width: 100%;
    left: 0;
    height: 100vh;
    top: 5rem; */
    background-color: #330000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    /* overflow-y: hidden;
    overflow-x: hidden; */
}

.result-box-border{
    border: 1px solid rgb(145, 64, 64);
}

.result-box-header{
    position: absolute;
    left: 45%;
    top: 50%;
    text-align: center;
    padding: 20px 30px ;
}

.Result-logo {
    height: 40vmin;
    pointer-events: none;
    animation: Result-logo-spin infinite 20s linear;
  }

  @keyframes Result-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  .loading, .loading2 {
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    font-size: 50pt;
    font-style: italic;
    text-align: center;
    height: 80px;
    line-height: 50px;
    /* vertical-align: bottom; */
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    display: block;
  }
  .loading2 {
    top: 240px;
  }
  .wave {
    background-image: url("https://webdevtrick.com/wp-content/uploads/water-wave-blue.png");
    -moz-background-clip: text;
    -o-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
    animation: wave-animation 1s infinite linear, loading-animation 10s infinite linear alternate;
    background-size: 200px 100px;
    background-repeat: repeat-x;
    opacity: 1;
  }
  .wave2 {
    background-image: url("https://webdevtrick.com/wp-content/uploads/water-wave.png");
    -moz-background-clip: text;
    -o-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
    animation: wave-animation 1s infinite linear, loading-animation 10s infinite linear alternate;
    background-size: 200px 100px;
    background-repeat: repeat-x;
    opacity: 1;
  }
   
  @keyframes wave-animation {
    0% {
      background-position: 0 bottom;
    }
    100% {
      background-position: 200px bottom;
    }
  }
  @keyframes loading-animation {
    0% {
      background-size: 200px 0px;
    }
    100% {
      background-size: 200px 200px;
    }
  }
  @media (max-width: 765px) {
    .loading, .loading2 {
      font-size: 50pt;
    }
  }