


.App {
    text-align: center;
    max-height: 100%!important;
  
  }
  
  
  .question-card{
    text-align: center;
    background-color: rgb(15, 36, 105);
    padding: 16px;
    color: white;
    margin: 0 auto;
    box-shadow: rgb(50, 50, 93,0.25) 0px 30px 60px -12px, 
    rgb(0, 0, 0,3) 0px 18px 36px -18px;
    width: 80%;
    height: auto;
  }

  ul{
    list-style: none;
  }
  
  /* li{
    background-color: rgb(40, 111, 111);
    padding: 16px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 8px;
    cursor: pointer;
  } */
  
  .question-text{
    color: rgb(191, 191, 198);
    font-size: 24px;
  }
  
  .final-results{
    
    /* background-color: rgb(15, 36, 105); */
    padding: 16px;
    color: white;
    margin: 0 auto;
    box-shadow: rgb(50, 50, 93,0.25) 0px 30px 60px -12px, 
    rgb(0, 0, 0,3) 0px 18px 36px -18px;
    padding: 5rem;
    position: absolute;
    top: 5rem;
    left: 25%;
    width: 50%;
    height: auto;
    
  }
  
  button{
    background-color: red;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 24px;
    color: white;
    border-radius: 24px;
    
  }
  .header-timer{
    position: absolute  ;
    justify-content: space-between  ;
    left: 3rem;
  }
  .header-score{
    position: absolute;
    left: 85%;
    top: 8rem;
    color: rgb(179, 197, 48);

  }
  .quize-lsit{
    position: relative;
    top: 2rem;
    margin: 3rem;
    padding: 3rem;
  }
  .headline{
    color:aliceblue;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 45%;

  }

  .header-img{
    position: absolute;
    left: 80%;
    top: 20rem;
    color: rgb(179, 197, 48);
  }

  li-controls{
  color: aquamarine;
}

li-controls.wrong{
    color: red;
  
  }
li-controls.correct{
  background: green;
  }

