.button {
  font: inherit;
  border: 1px solid #4f005f;
  background: black;
 
  background-attachment:scroll;
  background-repeat: no-repeat;
  color: white;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 30px;
  position: relative;
  /* left: 40%;  */
}

.button:hover,
.button:active {
  background: #950849;
  border-color: #791538;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
