@keyframes spinner {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}

.loading_spinner{
    background-color: aqua;
    width: 50px;
    height: 50px;
    border: 10px solid #08556f;
    border-top:10px solid #086949 ;
    border-radius:50% ;
    animation: spinner 1.5s linear infinite;
    
}

.spinner_container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }