/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 5rem;
    height: 30px;
    left: 36px;
    top: 3%;
    background: #fff!important;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
      width: 5rem;
    background: rgb(4, 4, 76);
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: rgb(28, 9, 128);
    width: 5rem;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 5rem;
    width: 5rem;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: rgb(15, 36, 105);
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {position: relative;
    top: 0;
    position: fixed;
    height: 100vh;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #055772;
    padding: 2.5em 1.5em 0;
    font-size: 0.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill:#373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #fff;
    padding: 2px;
    
  }
  
  /* Individual item */
  /* Individual item */
.bm-item {
    display: inline-block;
    font-size: 25px;
    position: relative;
    top: 5rem;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
    padding: 1.5rem;
    /* background: rgb(8, 98, 154); */
    
  }
  
  .bm-item:hover {
    color: #fff;
    background-color:rgb(15, 36, 105);
  }
  
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(30, 10, 139, 0.3);
  }
/* 
  .menu-bar a{
    padding: 20px; 
    position: relative;
    top: 10%;
    left: 0%;
  
  } */