.login {
  width: 50%;
  max-width: 40rem;
  /* height: 60%; */
  margin: 4rem auto;
  padding: 5rem;
    /* position: absolute;
    left: 30%; */
  border-radius: 2rem;
  background-color: rgb(13, 9, 119);
  color: aliceblue;
}

.control {
  margin: 1rem 0;
  display: flex;  
  align-items: stretch;
  flex-direction: column;
}

/* .control label,
.control input {
  display: block;
  padding: 20px;
  
} */

.control label {
  font-weight: bold;
  flex: 1;
  color: aliceblue;
  margin-bottom: 2rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 2rem;
}

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.control .actions {
  /* text-align: center; */
  justify-content: space-between;
  
}

 /* a{

font-size: 1.5rem;
font-weight: bold;
color: #fff;
position: absolute;
top: 28rem;
left: 45%;
} */

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }

}
