/* .card {
  background: rgb(38, 112, 158);
  background-image: url(C:\Users\abhilasha.br\ReactProject\loginapp\src\assets\image2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  height: 270vh;
  width:100vw; 
   background-color: #330000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-image: url('../../../assets/image5.png');
background-attachment: fixed;
background-size:100%; 
background-repeat: no-repeat;
 height: auto;
width:100vw;  

} */

.card{
  /* background: rgb(25, 74, 134); */
  box-shadow: 0 2px 8px rgba(0, 0,0 0, 26);
  border-radius: 10px;
  
}



