
.image{
    position: absolute;
    left: 15rem;
    top: 0;
   
    width: 20rem;
    height: 150px;
    /* background-color: rgb(139, 14, 64); */
    animation-name: spin;
    animation: spin 50000ms linear infinite;
    border-radius: 0.5rem 5rem;
  }

  .image h3{
    color: aqua;
    position: relative;
    top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    left: 2rem;
  }
  
  @keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }
  
  .bump {
  animation: bump 800ms ease-out infinite;
  
  }
  
  @keyframes bump {
    0% {
    transform: rotateX(10deg);
  }
  10% {
    transform: rotateX(30deg);
  }
  30% {
    transform: rotateX(60deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(120deg);
  }
 
  }

  .image1{
    position: absolute;
    left: 60rem;
    top: 2rem;
    
    width: 15rem;
    height: auto;
    margin-top: 2rem;
    /* background-color: rgb(139, 14, 64); */
    animation-name: spin;
    animation: spin 10000ms linear infinite;
    border-radius: 0.5rem 5rem;
}
.image1 h3{
    color: #00ffff;
    position: relative;
    top: 3rem;
    font-size: 2rem;
    left: 2rem;

}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.bump1 {
  animation: bump1 1500ms ease-out infinite;
}

@keyframes bump1 {
    0% {
    transform: rotateX(10deg);
  }
  10% {
    transform: rotateX(30deg);
  }
  30% {
    transform: rotateX(60deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateX(120deg);
  }
  /* from{
    transform: rotateX(0deg);
}
to{
    transform: rotateY(180deg);
} */
}
body{
  overflow-y: visible;
  overflow-x: hidden;
}

.App {
  text-align: center;

}

.App-logo {
  /* background-color: rgb(138, 8, 73); */
  position: absolute;
  top:3rem;
  left: 40rem;
  height: 20%;
  width: 50vmin;
  pointer-events: none;
  border-radius: 30% 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotateX(0deg);
    
  }
  to {
    transform: rotateY(360deg);
  }
}
