* {
  box-sizing: border-box;
 
}

html {
  font-family: sans-serif;
  background: #fff;
}

body {
  margin: 0;
 
}

main {
  margin-top: 6rem;
}

* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}
