.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(7, 38, 77, 0.75);

}

.modal {
    background-color: #fff;
    border-radius: 2rem;
    position: fixed;
    top: 30vh;
    left: 10%;
    /* width: 80%; */
    z-index: 100;
    overflow: hidden;
    /* padding: 10px; */
    animation: modal-appear 1s ease-out forwards;

}

@keyframes modal-appear {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }

    to {
        opacity: 1;
        transform: translateX(5rem);
    }
}

.header{
    background: #81071a;
    padding: 1rem;
}

footer {
    background: #81071a;
    padding: 0.7rem;
}

.header h3 {
    margin: 0;
    color: white;
}

.footer button {
    background-color: #81071a;
}

.footer button {
    left: 70%;
    font: inherit;
    background: #3a042e;
    border: 1px solid rgb(169, 11, 82);
    padding: 1rem 3rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

.footer button:focus {
    outline: none;
}

.footer button:hover,
.footer button:active {
    background-color: rgb(71, 6, 35);
    color: #f3cafb;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}



.footer h2 {
    margin: 0;
    color: white;
}

.content {
    padding: 2rem;
    text-align: center;
    color: #81071a;
    font-size: 20px;
    font-weight: bold;

}

.actions {
    padding: 1rem;
    display: flex;
    justify-content: center;
    left: 20%;
}

@media (min-width: 768px) {
    .modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}