.success_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(3, 25, 26, 0.75);

}

.success_backdrop_modal {
    background-color: #fff;
    border-radius: 2rem;
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    /* padding: 10px; */
    animation: success_backdrop_modal-appear 1s ease-out forwards;

}

@keyframes success_backdrop_modal-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.success_backdrop_header{
    background: #037a47;
    padding: 1rem;
}


.success_backdrop_footer {
    background: #037a47;
    padding: .8rem;
}


.success_backdrop_header h3 {
    margin: 0;
    color: white;
}

.success_backdrop_footer h2 {
    margin: 0;
    color: white;
}

/* 
.success_backdrop_footer button {
    background-color: #81071a;
} */

.success_backdrop_footer button {
    position: relative;
    left: 70%;
    font: inherit;
    background: #3a042e;
    border: 1px solid rgb(169, 11, 82);
    padding: 1rem 3rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

.success_backdrop_footer button:focus {
    outline: none;
}

.success_backdrop_footer button:hover,
.success_backdrop_footer button:active {
    background-color: rgb(71, 6, 35);
    color: #f3cafb;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}

.success_backdrop_content {
    padding: 2rem;
    text-align: center;
    color: #037a47;
    font-size: 20px;
    font-weight: bold;

}

.success_backdrop_actions {
    padding: 1rem;
    display: flex;
    justify-content: center;
    left: 20%;
}

@media (min-width: 768px) {
    .success_backdrop_modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}